<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyue.qdmobile"
    android:installLocation="auto"
    android:versionCode="3200"
    android:versionName="0.3.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" /> 
    was useless anyway as only granted to system app and
    we don't have core integration anymore with these plugins
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!--
    Not taken into account?
    Regarding Diane's comment this was never implemented 
    and was dropped in most recent android versions 
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- COMMENT THIS if you plan to use in library mode -->
    <permission
        android:name="android.permission.USE_SIP"
        android:description="@string/permdesc_useSip"
        android:label="@string/permlab_useSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.permission.CONFIGURE_SIP"
        android:description="@string/permdesc_configureSip"
        android:label="@string/permlab_configureSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />

    <!-- END OF COMMENT THIS -->

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />


    <application
        android:name=".QDMobileApplication"
        android:allowBackup="true"
        android:backupAgent=".backup.SipBackupAgent"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_v2ip"
        android:label="@string/app_name"
        >
        <meta-data
            android:name="app_type"
            android:value="nightly" />
        <meta-data
            android:name="app_channel"
            android:value="trunk" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIL5x8Klvg-Y8nV4j4PNSy2JH6yQZ49yKbrqKJAw" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WK0LkaS7O9LfpY8ltYa9Zv1l" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name=".ui.SipHome"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="com.qiyue.qdmobile.phone.action.DIALER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sip" />
                <data android:scheme="csip" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="com.qiyue.qdmobile.phone.action.CALLLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="com.qiyue.qdmobile.phone.action.FAVORITES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="com.qiyue.qdmobile.phone.action.MESSAGES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.SipDialer"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".ui.SipHome"
            android:theme="@style/DarkTheme.NoTitle"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="csip" />
                <data android:scheme="sip" />
                <data android:scheme="sips" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="csip"
                    android:scheme="imto" />
                <data
                    android:host="sip"
                    android:scheme="imto" />
                <data
                    android:host="skype"
                    android:scheme="imto" />
            </intent-filter>
        </activity-alias>

        <!-- Main service -->
        <!-- Require at least the configure permission to use -->
        <service
            android:name=".service.SipService"
            android:exported="true"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack" >
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.service.SipService" />
                <action android:name="com.qiyue.qdmobile.service.SipConfiguration" />
            </intent-filter>
        </service>
        <service android:name=".service.Downloader" />

        <receiver
            android:name=".service.DeviceStateReceiver"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack" >

            <!-- Here filter for protected-broadcasts -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.accounts.activate" />
            </intent-filter>
        </receiver>
        <!-- <receiver -->
        <!-- android:name=".service.DeviceStateReceiver" -->
        <!-- android:permission="android.permission.CONFIGURE_SIP" -->
        <!-- android:process=":sipStack" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.qiyue.qdmobile.accounts.activate" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- Main ui -->
        <activity
            android:name=".ui.calllog.CallLogDetailsActivity"
            android:theme="@style/Holo.Light" />

        <!-- Accounts -->
        <activity
            android:name=".ui.filters.AccountFilters"
            android:configChanges="orientation"
            android:label="@string/filters"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".ui.filters.EditFilter"
            android:configChanges="orientation"
            android:label="@string/filters"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".wizards.WizardChooser"
            android:configChanges="orientation"
            android:label="@string/choose_wizard"
            android:theme="@style/DarkTheme.Dialog" />

        <!-- Preferences -->
        <activity
            android:name=".ui.prefs.hc.MainPrefs"
            android:configChanges="orientation"
            android:enabled="@bool/use_hc_prefs"
            android:label="@string/prefs"
            android:permission="android.permission.CONFIGURE_SIP"
            android:theme="@style/DarkTheme" >
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.ui.action.PREFS_GLOBAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.prefs.cupcake.MainPrefs"
            android:configChanges="orientation"
            android:enabled="@bool/use_cupcake_prefs"
            android:label="@string/prefs"
            android:permission="android.permission.CONFIGURE_SIP"
            android:theme="@style/DarkTheme" >
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.ui.action.PREFS_GLOBAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.prefs.cupcake.PrefsLoaderActivity"
            android:label=""
            android:theme="@style/DarkTheme.Dialog" />
        <activity
            android:name=".ui.prefs.PrefsFilters"
            android:configChanges="orientation"
            android:label="@string/filters"
            android:theme="@style/DarkTheme.Dialog" />
        <activity
            android:name=".ui.prefs.PrefsFast"
            android:configChanges="orientation"
            android:label="@string/prefs_fast"
            android:permission="android.permission.CONFIGURE_SIP"
            android:theme="@style/DarkTheme.Dialog" >
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.ui.action.PREFS_FAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.prefs.Codecs"
            android:configChanges="orientation"
            android:label="@string/codecs"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".ui.prefs.AudioTester"
            android:label="@string/test_audio"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme.Dialog" />

        <!-- Wizards -->
        <activity
            android:name=".wizards.BasePrefsWizard"
            android:configChanges="orientation"
            android:label="@string/edit"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme.NoTitle" />

        <!-- Call management -->
        <receiver
            android:name=".service.OutgoingCall"
            android:permission="android.permission.CALL_PHONE"
            android:process=":sipStack" >

            <!-- Here filter for protected-broadcasts -->
            <intent-filter android:priority="0" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.outgoingcall.OutgoingCallChooser"
            android:allowTaskReparenting="false"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/call"
            android:launchMode="singleTask"
            android:permission="android.permission.USE_SIP"
            android:process=":sipStack"
            android:taskAffinity=""
            android:theme="@style/DarkTheme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="csip" />
                <data android:scheme="sip" />
                <data android:scheme="sips" />
            </intent-filter>
            <intent-filter android:priority="10" >
                <action android:name="android.phone.extra.NEW_CALL_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="csip" />
                <data android:scheme="sip" />
                <data android:scheme="sips" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.PrivilegedOutgoingSipCallBroadcaster"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:targetActivity=".ui.outgoingcall.OutgoingCallChooser"
            android:theme="@style/DarkTheme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sip" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ui.PrivilegedOutgoingCallBroadcaster"
            android:configChanges="orientation"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:label="@string/sip_call"
            android:launchMode="singleTask"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:targetActivity=".ui.outgoingcall.OutgoingCallChooser"
            android:theme="@style/DarkTheme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/phone" />
                <data android:mimeType="vnd.android.cursor.item/phone_v2" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity-alias>

        <!-- To be able to do video, this has to be launched in sipStack process -->
        <activity
            android:name=".ui.incall.InCallActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack"
            android:taskAffinity=""
            android:theme="@style/Holo.Light" >
            <intent-filter android:priority="10" >
                <action android:name="com.qiyue.qdmobile.phone.action.INCALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PickupSipUri"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme.NoTitle" />
        <activity
            android:name=".ui.incall.InCallMediaControl"
            android:configChanges="orientation"
            android:label="@string/prefs_media"
            android:taskAffinity="com.qiyue.qdmobile.ui.incall.InCallActivity"
            android:theme="@style/DarkTheme.Dialog" />

        <receiver android:name=".service.HeadsetButtonReceiver" />

        <!-- Widget -->
        <receiver
            android:name=".widgets.AccountWidgetProvider"
            android:icon="@drawable/appwidget_preview"
            android:label="@string/gadget_title" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.qiyue.qdmobile.service.ACCOUNT_CHANGED" />
                <action android:name="com.qiyue.qdmobile.service.REGISTRATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <activity
            android:name=".widgets.AccountWidgetConfigure"
            android:theme="@style/DarkTheme" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.ShortcutWidgetProvider"
            android:icon="@drawable/ic_ab_favourites_holo_dark"
            android:label="@string/csipsimple_shortcut" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appshortcut_info" />
        </receiver>

        <activity
            android:name=".widgets.ShortcutWidgetConfigure"
            android:theme="@style/DarkTheme" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Messages -->
        <activity
            android:name=".ui.messages.MessageActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme.NoTitle"
            android:windowSoftInputMode="stateHidden" />

        <!-- Embedded plugins -->
        <!-- Call handlers android:process=":telCallHandler" -->
        <receiver
            android:name=".plugins.telephony.CallHandler"
            android:permission="android.permission.PROCESS_OUTGOING_CALLS"
            android:process=":sipStack" >
            <intent-filter>
                <action android:name="com.qiyue.qdmobile.phone.action.HANDLE_CALL" />
            </intent-filter>
        </receiver>

        <!-- Databases providers -->
        <provider
            android:name=".service.PreferenceProvider"
            android:authorities="com.qiyue.qdmobile.prefs"
            android:permission="android.permission.CONFIGURE_SIP" />
        <provider
            android:name=".db.DBProvider"
            android:authorities="com.qiyue.qdmobile.db"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack" />

        <!-- New UI -->
        <activity
            android:name=".ui.account.AccountsEditList"
            android:label="@string/accounts"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".ui.account.AccountEdit"
            android:theme="@style/DarkTheme" />

        <!-- Extra codecs -->

        <receiver
            android:name=".plugins.codecs.ReceiverSILK"
            android:exported="false" >
            <meta-data
                android:name="lib_name"
                android:value="libpj_silk_codec.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_silk_init" />

            <intent-filter>
                <action android:name="com.qiyue.qdmobile.codecs.action.REGISTER_CODEC" />
            </intent-filter>
        </receiver>
        <!-- OPUS? -->


        <!-- Extra wizard creation account activities -->
        <activity
            android:name=".wizards.impl.MondotalkCreate"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".ui.account.AccountActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/Holo.Light"
            android:screenOrientation="portrait"

            />
        <activity android:name=".zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/Holo.Light"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".lbs.LocationActivity"
            android:theme="@style/Holo.Light"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            />

        <!-- Receiver for standard video -->
        <receiver android:name=".plugins.video.PluginReceiver" >
            <intent-filter>
                <action android:name="com.csipsimple.plugins.action.REGISTER_VIDEO" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_video_android.so" />
            <!-- For now it does not matter in the future we should have one per device, codec, and converter (if needed) -->
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_webrtc_vid_render_factory" />
        </receiver>

        <!--
        Receiver for video capture
        <receiver android:name=".CaptureReceiver" >
            <intent-filter>
                <action android:name="com.csipsimple.plugins.action.REGISTER_CAPTURE_VIDEO" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_screen_capture_android.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_webrtc_vid_capture_factory" />
        </receiver>
        -->
        <receiver android:name=".plugins.video.PluginReceiverFfmpeg" >
            <intent-filter>
                <action android:name="com.csipsimple.codecs.action.REGISTER_VIDEO_CODEC" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_video_android.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_ffmpeg_vid_init" />
            <meta-data
                android:name="deinit_factory"
                android:value="pjmedia_codec_ffmpeg_vid_deinit" />
        </receiver>
        <receiver android:name=".plugins.video.PluginReceiverVpx" >
            <intent-filter>
                <action android:name="com.csipsimple.codecs.action.REGISTER_VIDEO_CODEC" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_vpx.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_vpx_init" />
            <meta-data
                android:name="deinit_factory"
                android:value="pjmedia_codec_vpx_deinit" />
        </receiver>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":lbsStack" />

    </application>

</manifest>
